/**
 * @Author: jeCyu
 * @Date: 2017-10-19 10:13:01 am 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-10-19 10:30:46 am 
 */

 .page-wrap {
     padding: 10px 0 25px 0;
     background: #fff;
 }

 .payment-tips {
     height: 40px;
     font-size: 18px;
     font-weight: bold;
     line-height: 40px;
     text-align: center;
     color: #666;
 }

 .payment-tips.enhance {
     color: #c60023;
 }

 .img-con {
     width: 300px;
     height: 300px;
     margin: 0 auto;
     border: 1px solid #ddd;
     background: #fff;
 }

 .img-con .qr-code {
    width: 100%;
    height: 100%;
 }