/**
 * @Author: jeCyu
 * @Date: 2017-10-12 11:50:46 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-10-13 12:24:27 pm 
 */

/* 最外层容器  */
.page-wrap {
    padding: 40px 0;
    background: #e72955;
}

/* 表单框 */
.user-con {
    position: relative;

    width: 400px;
    margin: 0 auto;
    background: #fff;
}

.user-con .user-title {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #666;
}

.user-con .user-box {
    padding: 20px;
}

/* 错误提示框 */
.user-con .user-box .error-item {
    display: none;
    position: relative;

    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    border: 1px solid red;

    color: red;
    background: #fde9e9;
}

/* 错误图标 */
.user-con .user-box .error-icon {
    position: absolute;
    left: 14px;
    top: 50%;

    margin-top: -7px;
    font-size: 14px;
}

.user-con .user-item {
    position: relative;
    margin-bottom: 20px;
}

.user-con .user-item .user-label {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    
    width: 40px;
    border-right: 1px solid #bdbdbd;

    font-size: 18px;
    line-height: 36px;
    text-align: center;

    color: #d3d3d3;
    background: #f3f3f3;
}

/* 用户输入框 */
.user-con .user-item .user-content {
    width: 308px;
    height: 18px;
    padding: 10px 0 10px 50px;
    border: 1px solid #bdbdbd;

    font-size: 15px;
    line-height: 18px;
    outline: none;
    
}

/* 提交按钮 */
.user-con .btn-submit {
    width: 100%;
    padding: 2px 0;

    font-size: 20px;
    text-align: center;
}

/* 跳转链接 */
.user-con .link-item {
    margin-top: 10px;
    text-align: right;
}

.user-con .link-item .link {
    margin-left: 10px;
    color: #999;
}


