/**
 * @Author: jeCyu
 * @Date: 2017-10-11 11:59:18 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-10-12 12:05:32 am 
 */
.nav {
    height: 30px;
    line-height: 30px;
    background: #eee;
}

/* 用户部分 */
.nav .user {
    float: left;
}

.nav .user.login {
    display: none;
}

.nav .user .link {
    margin-right: 5px;
}

/* 导航链接部分 */
.nav .nav-list {
    float: right;
}

.nav .nav-list .nav-item {
    display: inline-block;
    margin-left: 5px;
}