/**
 * @Author: jeCyu
 * @Date: 2017-10-18 9:53:29 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-10-18 10:39:48 pm 
 */
 
/* 头部信息 */
.order-list-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background: #fafafa;
}

.order-list-table .cell {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #666;
}


.order-list-table.header {
    background: #eee;
}

.order-list-table .order-info {
    padding: 10px;
    color: #999;
    background: #eee;
}

.order-list-table .order-info .order-text {
    margin-right: 25px;
}

.order-list-table .order-info .order-num {
    font-weight: bold;
}

.order-list-table .order-info .order-total {
    font-weight: bold;
    color: #c60023;
}

.order-list-table .order-info .order-detail {
    float: right;
}

/* 商品信息 */
.order-list-table .cell-img {
    width: 15%;
    padding: 10px;
    text-align: center;
}

.order-list-table .cell-img .p-img {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
}

.order-list-table .cell-info {
    width: 45%;
    text-align: left;
}

.order-list-table .cell-price {
    width: 15%;
    text-align: center;
}

.order-list-table .cell-count {
    width: 15%;
    text-align: center;
}

.order-list-table .cell-total {
    width: 15%;
    text-align: center;
}