<!--
@Author: jeCyu
@Date: 2017-10-11 11:41:03 pm 
@Modified By: jeCyu 
@Last Modified time: 2017-10-17 12:06:28 pm 
-->
<div class="nav">
    <!-- w为定宽 -->
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">登录</span>
                <a href="./user-register.html" class="link js-register">注册</a>
            </span>
            <span class="user login">
                    <span class="link-text">
                        欢迎，<span class="username"></span>
                    </span>
                    <span class="link js-logout">退出</span>
            </span>
            <!-- 右边导航 -->
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="./cart.html" class="link">
                        <i class="fa fa-shopping-cart"></i>
                        购物车(<span class="cart-count">0</span>)
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./order-list.html" class="link">我的订单</a>
                </li>
                <li class="nav-item">
                    <a href="./user-center.html" class="link">我的MMall</a>
                </li>
                <li class="nav-item">
                        <a href="./about.html" class="link">关于MMall</a>
                </li>
            </ul>
        </div>    
    </div>
</div>