/**
 * @Author: jeCyu
 * @Date: 2017-10-11 11:24:16 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-10-14 10:11:36 am 
 */

 .nav-simple {
     height: 60px;
     border-bottom: 1px solid #ddd;
     
     background: #fff;
     line-height: 60px
 }

 .nav-simple .logo {
     font-size: 26px;
     font-weight: bold;
     text-decoration: none;
     color: #c60023;
 }